body {
    height: 100vh;
    width: 100vw;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
}

.grid {
    height: 30%;
    width: 30%;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 20px;
}

.cell {
    background-color: gray;
    height: 100%;
    width: 100%;
}

.turn {
    font-size: 80px;
}